aiohttp
aria2p
appdirs
beautifulsoup4
feedparser
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
heroku3
html-telegraph-poster
js2py
lk21
lxml
messages
psutil
psycopg2-binary
pybase64
urllib3==1.25.8
https://github.com/pyrogram/pyrogram/archive/refs/heads/master.zip
python-dotenv
tenacity
https://github.com/Ncode2014/cloudscraper/archive/refs/heads/master.zip
requests
https://github.com/Ncode2014/gdown/archive/refs/heads/master.zip
https://github.com/yt-dlp/yt-dlp/archive/refs/heads/master.zip
youtube-dl
python-magic
python-telegram-bot
pytz
speedtest-cli
telegraph
TgCrypto
